{% extends "header.html" %}

{% block content %}
<div class="files-list panel panel-primary">
    <div class="panel-heading">
        <h3>Список доступных файлов</h3>
    </div>
    <div class="panel-body ">
        <table id="files-table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="file-upload-date">Дата</th>
                    <th>Название файла</th>
                    <th class="file-tags">Теги</th>
                </tr>
            </thead>
            <tbody>
                <!-- чтобы не проверять по сто раз -->
                {% with perms.dataviewer.change_post as can_change_post %}
                    {% for post in posts_to_display %}
                    <tr>
                        <td class="file-upload-date">{{ post.upload_date|date:"d.m.Y" }}</td>
                        <td><a href="{{ post.file_body.url }}" download>{{ post.title }}</a>
                            {% if can_change_post %}
                                <a href="{% url 'dataviewer:update' pk=post.id %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                            {% endif %}</td>
                        <td class="file-tags">
                            {% if post.get_tag_list == "" %}
                            <p class="notag">Теги отсутствуют</p>
                            {% else %}
                                <p>
                                    {% for tag in post.get_tag_list %}
                                    <a class="tag-link" href="{{ post.get_absolute_url }}?t={{ tag }}">{{ tag }}</a>,&#160;
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endwith %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

