{% extends "header.html" %}

{% block content %}
<div id="file-upload-form" class="form-wrapper">
    <h3>Выберите файл:</h3>
    <form method="post" enctype="multipart/form-data" class="upload-form">
    {% csrf_token %}
    {{ form.as_p }}
    <p class="text-helper">Теги вводятся через запятую без пробелов.</p>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Подтвердить</button>
        <a href="{% url 'dataviewer:files' %}" class="btn btn-default">Назад</a>
    </div>
    </form>
</div>
{% endblock %}

