/* Цветовая схема: https://colorscheme.ru/#3z41T--vBw0w0 */
/* header */

header.navbar {
    background-color: #0055A3;
}
footer.navbar {
    background-color: #00386a;
}
.navbar-default .navbar-text, .navbar-header a {
    color:            #ccc;
}

.navbar-text.greeting {
    font-size: 1.4em;
}

.navbar-brand > img {
    width:  30px;
    height: 30px;
}

#help-btn {
    cursor: pointer;
}

.search-bar, .dropdown {
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 12px;
    float: right !important;
    padding: 0px 0px;
}

/* header end */
/* main-content */

/* main-content end */

/* login form */


.login-form > .errorlist {
    border-left: 2px solid #aaa;
    list-style-type: none;
}

#id_username {  
    margin-left: 11px;
}

.form-wrapper > form.login-form > p {
    text-align: center;
}
/* login form end */

/* upload form */

#file-upload-form {
    margin-right: auto;
    margin-left:  auto;
    width:        14em;
}

/* upload form end */

/* files.html */
.panel-body {
    white-space: nowrap;
}

.files-list > .panel-heading {
    background-color: #0055A3 !important;
    border-color: #0055A3 !important;
}


.file-upload-date {
    white-space: nowrap;
    width:1%;
}

p.notag {
    font-style: italic;
    color:      #666;
}

a.tag-link {
    font-style: italic;
    color:      #FC9300;
}

/* #files-table */

thead > tr > th {
    background-color: #5E9BD1;
    color: #fff;
}

thead > tr > th:hover {
    background-color: #3487D1;
}
.theader {
    background-image: url(bg.gif); 
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}

.sortUp {
    background-image:  url(asc.gif);
    background-repeat: no-repeat;
}

.sortDown {
    background-image:  url(desc.gif);
    background-repeat: no-repeat;
}

/* #files-table end */

/* files.html end */

/* footer */

/* footer end*/
.btn-primary {
    background-color: #3487D1 !important;
    border-color: #3487D1 !important;
}

.text-helper {
    color: #888;
    font-style: italic;
    font-size: 1em;
}
