{% extends "header.html" %}

{% block content%}

<div class="form-wrapper">
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <p> <button id="login-form-submit" type="submit">Войти</button> </p>
    </form>
</div>

{% endblock %}
