{% load staticfiles %}
{% load user_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>База данных документации</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
</head>
<body>
    <header id="header" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="{% static 'img/logo.gif' %}" alt="logo"></a>
                <p class="navbar-text greeting">Добро пожаловать{% if user.is_authenticated %}, <strong>{{user.username}}</strong>.{% endif %}</p>
            </div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="files-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Меню
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="files-dropdown-menu">
                    {% if perms.dataviewer.add_post %}
                    <li> <a id="upload-btn" href="/data/upload">Загрузить файл...</a> </li>
                    {% endif %}
                    <li>
            <a id="help-btn" data-toggle="modal" data-target="#helpModal">Помощь</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li role="separator" class="divider"></li>
                    <li><a href="/auth/logout">Выход из системы</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if perms.dataviewer.add_post %}
            <!-- Загрузка файла в том же окне, пока не работает
            <button class="btn btn-default" title="Альтернативная загрузка файла" id="upload-in-this-btn" data-toggle="modal" data-target="#uploadModal"><span class="glyphicon glyphicon-upload" aria-hidden="true"></button>
            -->
            {% endif %}
            <!-- Button that triggers modal -->
            {% if user.is_authenticated %}
            <div class="search-bar">
                <form action="" method="GET">
                    <div class="input-group">
                        <input name="q" type="text" placeholder="Найти..." value="{{ request.GET.q }}" class="form-control" aria-describedby="search-icon">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" id="search-button"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> </button>
                        </span>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </header>
    <div id="main-content" class="container well">
        {% block content %}
        {% endblock %}
        <!-- The modal itself -->
        <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Помощь</h4>
                    </div>
                    <div class="modal-body">
                        {% if not user.is_authenticated %}
                        <h5>Забыли пароль?</h5>
                        <p>Восстановить утерянный пароль можно у <a href="mailto:example@mail.ru">администратора</a>.</p>
                        {% else %}
                        <h5>Доступ к документации</h5>
                        <p>Если у вас есть право на загрузку файлов в базу, загрузить необходимый файл можно нажатием кнопки загрузки в правом верхнем углу. Загруженный файл будет доступен для вашего отдела.</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <footer id="footer" class="navbar navbar-default navbar-fixed-bottom" style="margin-top: 15px;">
        <div class="container-fluid">
            <p class="navbar-text about">База данных документации НПО им. Лавочкина</p>
            <p class="navbar-text navbar-right credits" style="margin-right: 10px;">Сайт разработал студент МТКП им. Баумана Кирюшин Максим в 2017 году.</p>
        </div>
    </footer>
    <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'js/files.js' %}"></script>
</body>
</html>
